__pycache__/

etacha_cases/
U238_fs1d_tracking_results/
U238_analysis_tracking_results/
Zn64_analysis_tracking_results/
Si28_analysis_tracking_results/
Sm144_analysis_tracking_results/
Sm147_analysis_tracking_results/
Sm148_analysis_tracking_results/
Sm149_analysis_tracking_results/
Sm150_analysis_tracking_results/
Sm152_analysis_tracking_results/
Sm154_analysis_tracking_results/

Flame_lattice_stripper2CSS.lat
u238_analysis_charge_distributions.csv
u238_analysis_list.csv
u238_analysis.betacha

Zn64_analysis_charge_distributions.csv
Zn64_analysis_list.csv
Zn64_analysis.betacha

Si28_analysis_charge_distributions.csv
Si28_analysis_list.csv
Si28_analysis.betacha

Sm144_analysis_charge_distributions.csv
Sm144_analysis_list.csv
Sm144_analysis.betacha

Sm147_analysis_charge_distributions.csv
Sm147_analysis_list.csv
Sm147_analysis.betacha

Sm148_analysis_charge_distributions.csv
Sm148_analysis_list.csv
Sm148_analysis.betacha

Sm149_analysis_charge_distributions.csv
Sm149_analysis_list.csv
Sm149_analysis.betacha

Sm150_analysis_charge_distributions.csv
Sm150_analysis_list.csv
Sm150_analysis.betacha
Sm152_analysis_charge_distributions.csv
Sm152_analysis_list.csv
Sm152_analysis.betacha
Sm154_analysis_charge_distributions.csv
Sm154_analysis_list.csv
Sm154_analysis.betacha